.right-side h4 {
    background-color: #e67e22;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

span {
    color: purple;
}

.right-bar-content {
    margin-top: 20px;
}
th {
    background-color: #9b59b6;
    color: white;
}
th a {
    color: white;
}
a.btn {
    margin-top: 3px;
}