<h2>General Info</h2>
<hr>
<form class="dayone">
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            STG OFFERS REIMBURSMENTS FOR SOME CERTIFICATES, ASK ACCOUNT MANAGER FOR DETAILS
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            ASK THE OFFICE ABOUT OVERTIME AND BANKED PTO
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            CHECK IN WITH THE OFFICE ABOUT USING PTO AND VACATION
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>