<h2>Ongoing</h2>
<hr>
<form class="dayone">
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            MEET WITH ACCOUNT MANAGERS 1 TO 2 TIMES A WEEK
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            WRITE ARTICLES IN THE STG BLOG SITE
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            ASK OTHER TEAM MEMBERS TO REVIEW YOUR CODE
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            PARTICIPATE IN LUNCH-N-LEARNS
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            MEET WITH OTHER TEAM MEMBERS IN REGULAR SCRUM MEETINGS
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            WORK ON DEV CENTER CODE CHALLENGES
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>