

<h2>Josh Benson</h2>
<hr>
<form>
    <div class="form-group row">
        <label for="inputPractice" class="col-sm-2 col-form-label">PRACTICE</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputPractice">
                <option>Scripting</option>
                <option>IXD</option>
                <option>Java</option>
                <option>.NET</option>
                <option>QA</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">EMAIL</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">PHONE</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2">DEV CENTER</label>
        <div class="col-sm-10">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Active
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>
<hr>
<h3>Goals</h3>
<ol>
    <li>You should take this time to improve your skillsets and making yourself more marketable.</li>
    <li>Complete projects for the company and expand your knowledge.</li>
    <li>Take courses online and on PluralSight/CodeSchool.</li>
    <li>Look for opportunities to complete certifications.</li>
    <li>Build relationships with other developers and account managers.</li>
    <li>Introduction to practice manager, if he/she is available.</li>
</ol>
<button type="submit" class="btn btn-primary">Update</button>

<!--<li ng-repeat="course in courses">-->
    <!--{{message}}-->
<!--</li>-->